@import "bootstrap";

.card {
  background-color: #E6E6DC;
  padding: 20px;
  margin-top: 20px;
}

.post {
    color: #00628B;
}

.body {
    background-color: #81A594;
}

.navbar {
    background-color: #E6E6DC;
}